body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--black-color-1);
  color: var(--white-color-1);
}
:root {
  /* Black theme */
  --black-color-1: #2c2c2c;
  --black-color-2: #000000;
  --white-color-1: #fff;
  --white-color-2: #a7a7a7;

  --checked-color: #00ff88;
  /* White theme */
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.todo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100vh;
}

.todo__title {
  font-size: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.input__task {
  width: 100%;
  padding: 15px 10px 15px 10px;
  
  background-color: transparent;
  border-bottom: 2px solid var(--white-color-1);
  color: var(--white-color-1);
}
.input__label{
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}
.input__label::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: #00eeffe3;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.input__label:focus-within::after {
    width: 100%;
}
.input__task::placeholder {
  font-size: 16px;
}
.btn__add {
  max-width: 350px;
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--white-color-1);
  color: var(--white-color-1);
  margin-bottom: 25px;
  transition: all .3s;
}
.btn__add:hover{
  background-color: var(--white-color-1);
  color: var(--black-color-2);
 
}
.todo__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background: url('./../content/background.jpg') no-repeat center;
  background-size:cover;
  border-radius: 16px;
  border: 2px solid var(--white-color-1);
  align-items: center;
}

.todo__item {
  padding: 15px 10px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--white-color-1);
  color: var(--white-color-1);

  
  width: 100%;
  min-height: 70px;
  background-color: #afafaf25;
  backdrop-filter: blur(5px);
  transition: background-color .3s ease-in-out;
}
.todo__item:hover{
  background-color: #2c2c2c;
}
.todo__item-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__item-time{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}
.todo__text {
  font-size: 18px;
  color: var(--white-color-1);
  max-width: 500px;
  width: 100%;
}

.todo__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.todo__complete,
.todo__remove {
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white-color-1);
  cursor: pointer;
  color: var(--white-color-1);
}

.todo__complete:hover{
  background-color: #00ff88;
}
.todo__remove:hover{
  background-color: crimson;
}


.checked {
  background-color: #00ff88;
  border: 1px solid #00ff88;
}

.text-lined {
  text-decoration: line-through;
}

@media screen and (max-width: 500px) {
  .todo__container {
    padding-top: 30px;
  }
  .todo__title {
    font-size: 60px;
    margin-bottom: 60px;
  }
  .todo__complete,
  .todo__remove {
    padding: 8px 13px;
}
.todo__item{
    padding: 4px 8px;
    min-height: 50px;
}
.todo__list{
    padding: 15px;
}
}
